<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
      <ion-toolbar id="header-row" class="ion-padding-top">
        <ion-title size="large">Community</ion-title>
        <ion-avatar id="user-avatar" (click)="avatarClicked()">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyKpQUy8JP90MAZxFjU0P9bPqkUWL35fd8Ag&usqp=CAU" alt="">
        </ion-avatar>
  </ion-toolbar>
  </ion-header>
  <ion-row >
    <ion-col size-md="6" offset-md="3">
      <ion-card id="community-mod-card">
        <ion-card-header>
          <ion-card-title>Helping community as Community moderator</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Community moderators can help us protect other players against offensive behaviours and win many rewards thanks to that !
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-text-center" size-md="6" offset-md="3">
      <ion-button size="large">Verify eligibility </ion-button>
    </ion-col>

  </ion-row>
  

  



</ion-content>

