<ion-content [fullscreen]="true">
  <ion-header collapse="condense" style="padding-bottom: 20px;">
      <ion-toolbar id="header-row" class="ion-padding-top">
        <ion-title size="large">Moderation</ion-title>
        <ion-avatar id="user-avatar" >
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyKpQUy8JP90MAZxFjU0P9bPqkUWL35fd8Ag&usqp=CAU" alt="">
        </ion-avatar>
  </ion-toolbar>
  </ion-header>

<ion-content>
      <ion-list style="border-radius: 10px; margin: 10px;">
        <ion-card class="card">
          <ion-card-header>
          <p class="message-title">"You are shit"</p>
          Risk: 7
          </ion-card-header>
            <ion-card-content>
            <div class="ion-margin-vertical ion-text-right">
              <ion-button>Investigate</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
        <ion-card class="card">
          <ion-card-header>
            <p class="message-title">"Suck my kicks"</p>
            Risk : 6
          </ion-card-header>
          <ion-card-content>
            <div class="ion-margin-vertical ion-text-right">
              <ion-button>Investigate</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
        <ion-card class="card">
          <ion-card-header>
            <p class="message-title">"It's so freakin hot outside"</p>
            Risk : 5
          </ion-card-header>
          <ion-card-content>
            
            <div class="ion-margin-vertical ion-text-right">
              <ion-button>Investigate</ion-button>
            </div>
          </ion-card-content>
        </ion-card>

      </ion-list>


      


      <!-- <ion-accordion-group [multiple]="true" [value]="['first', 'third']">
        <ion-accordion value="first">
          <ion-item slot="header" color="light">

            <ion-label class="card-label">"You are shit"</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">First Content</div>
        </ion-accordion>
        <ion-accordion value="second">
          <ion-item slot="header" color="light">
            <ion-label class="card-label">"Suck my kicks"</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">Second Content</div>
        </ion-accordion>
        <ion-accordion value="third">
          <ion-item slot="header" color="light">
            <ion-label class="card-label">"it is so fucking hot outside"</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">Third Content</div>
        </ion-accordion>
      </ion-accordion-group> -->

</ion-content>
